{% extends 'base.html' %}

{% block 'content' %}
<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Products</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				 <!-- ASIDE -->
				<div id="aside" class="col-md-3">
					<!-- aside widget -->
					<div class="aside">
						<h3 class="aside-title">Shop by:</h3>
						<ul class="filter-list">
							<li><span class="text-uppercase">color:</span></li>
							<li><a href="#" style="color:#FFF; background-color:#8A2454;">Camelot</a></li>
							<li><a href="#" style="color:#FFF; background-color:#475984;">East Bay</a></li>
							<li><a href="#" style="color:#FFF; background-color:#BF6989;">Tapestry</a></li>
							<li><a href="#" style="color:#FFF; background-color:#9A54D8;">Medium Purple</a></li>
						</ul>

						<ul class="filter-list">
							<li><span class="text-uppercase">Size:</span></li>
							<li><a href="#">X</a></li>
							<li><a href="#">XL</a></li>
						</ul>

						<ul class="filter-list">
							<li><span class="text-uppercase">Price:</span></li>
							<li><a href="#">MIN: $20.00</a></li>
							<li><a href="#">MAX: $120.00</a></li>
						</ul>

						<ul class="filter-list">
							<li><span class="text-uppercase">Gender:</span></li>
							<li><a href="#">Men</a></li>
						</ul>

						<button class="primary-btn">Clear All</button>
					</div>
					<!-- /aside widget -->

					<!-- aside widget -->
					<div class="aside">
						<h3 class="aside-title">Filter by Price {{products.get_min_price}}</h3>
						<div id="price-slider"></div>
					</div>

					<!-- aside widget -->

					<!-- aside widget -->
					<div class="aside">
						<h3 class="aside-title">Filter By Color:</h3>
						<ul class="color-option">
							{% for color in colors %}
								<li><a href="#" style="background-color:{{color.code}};"></a></li>
							{% endfor %}
						</ul>
					</div>
					<!-- /aside widget -->

					<!-- aside widget -->
					<div class="aside">
						<h3 class="aside-title">Filter By Size:</h3>
						<ul class="size-option">
							{% for size in sizes  %}
							<li class="active"><a href="#">{{size.name}}</a></li>
							{% endfor %}
							{% comment %} <li class="active"><a href="#">XL</a></li>
							<li><a href="#">SL</a></li> {% endcomment %}
						</ul>
					</div>
					<!-- /aside widget -->

					<!-- aside widget -->
					<div class="aside">
						<h3 class="aside-title">Filter by Brand</h3>
						<ul class="list-links">
							{% for product in products  %}
								<li><a href="#">{{product.brand}}</a></li>
							{% endfor %}
							{% comment %} <li><a href="#">Adidas</a></li>
							<li><a href="#">Polo</a></li>
							<li><a href="#">Lacost</a></li> {% endcomment %}
						</ul>
					</div>
					<!-- /aside widget -->

					<!-- aside widget -->
					<div class="aside">
						<h3 class="aside-title">Filter by Gender</h3>
						<ul class="list-links">
							<li class="active"><a href="#">Men</a></li>
							<li><a href="#">Women</a></li>
						</ul>
					</div>
					<!-- /aside widget -->

					<!-- aside widget -->
					<div class="aside">
						<h3 class="aside-title">Top Rated Product</h3>
						<!-- widget product -->
						<div class="product product-widget">
							<div class="product-thumb">
								<img src="./img/thumb-product01.jpg" alt="">
							</div>
							<div class="product-body">
								<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
								<h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
							</div>
						</div>
						<!-- /widget product -->

						<!-- widget product -->
						<div class="product product-widget">
							<div class="product-thumb">
								<img src="./img/thumb-product01.jpg" alt="">
							</div>
							<div class="product-body">
								<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
								<h3 class="product-price">$32.50</h3>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
							</div>
						</div>
						<!-- /widget product -->
					</div>
					<!-- /aside widget -->
				</div>
				<!-- /ASIDE -->

				<!-- MAIN -->
				<div id="main" class="col-md-9">
					<!-- store top filter -->
					<div class="store-filter clearfix">
						<div class="pull-left">
							<div class="row-filter">
								<a href="#"><i class="fa fa-th-large"></i></a>
								<a href="#" class="active"><i class="fa fa-bars"></i></a>
							</div>
							
							<div class="sort-filter">
								<form method='GET'>								
								<span class="text-uppercase">Sort By:</span>
									<select name='ordering' class="input">
										<option value="" disabled selected hidden>Price</option>
										<option value='price'>Low To High</option>
										<option value='-price'>High To Low</option>
									</select>
									<button class="main-btn icon-btn" type='submit'> <i class="fa fa-arrow-down"></i></button>
								</form> 
								{% comment %} <a href="#" class="main-btn icon-btn"><i class="fa fa-arrow-down"></i></a> {% endcomment %}
							</div>
						</div>
						<div class="pull-right">
							<div class="page-filter">
								{% comment %} <span class="text-uppercase">Show:</span>
								<select class="input">
										<option value="0">10</option>
										<option value="1">20</option>
										<option value="2">30</option>
									</select> {% endcomment %}
							</div>
							<ul class="reviews-pages">
								{% if products.has_previous %}
									<li><a href="?/page={{ products.previous_page_number }}"><i class="fa fa-caret-left"></i></a></li>
								{% endif %}
								
								
								<span class="current">
									Page {{ products.number }} of {{ products.paginator.num_pages }}.
								</span>


								{% if products.has_next %}
									<li><a href="?page={{products.next_page_number}}"><i class="fa fa-caret-right"></i></a></li>
								{% endif %}
							
							</ul>
						</div>
					</div>
					<!-- /store top filter -->

					<!-- STORE -->
					<div id="store">
						<!-- row -->
						<div class="row">
							
							{% if products %}
								{% for product in products  %}
								<!-- Product Single -->
								<div class="col-md-4 col-sm-6 col-xs-6">
									<div class="product product-single">
										<div class="product-thumb">
											<div class="product-label">
												<span>New</span>
												{% if product.discount %}
												<span class="sale">-{{product.discount}}%</span>
												{% endif %}
											</div>
											<a href="{% url 'product_details' product.slug %}"> <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button></a>
											{% for image in product.productImage.all|slice:'1' %}
												<img src="{{image.image.url}}" alt="">
											{% endfor %}
										</div>
										<div class="product-body">
											{% if product.discount %}
												<h3 class="product-price">${{product.get_total}} <del class="product-old-price">${{product.price}}</del></h3>
											{% else %}
												<h3 class="product-price">${{product.price}}</h3>
											{% endif %}
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o empty"></i>
											</div>
											<h2 class="product-name"><a href="#">{{product.name}}</a></h2>
											<div class="product-btns">
												{% if request.user in product.wishlist.all %}
													<a href="{% url 'add_to_favourite' product.id %}"> <button class="primary-btn icon-btn "><i class="fa fa-heart"></i></button> </a>
												{% else %}
													<a href="{% url 'add_to_favourite' product.id %}"> <button class="main-btn icon-btn "><i class="fa fa-heart"></i></button> </a>
												{% endif %}
												<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
												<a href="{% url 'add_to_cart' product.id %}"><button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button> </a>

											</div>
										</div>
									</div>
								</div>
								<!-- /Product Single -->
								{% endfor %}
							{% else %}
								<div class="center">
									<div> No Products Available</div>
								</div>
							<!-- /Product Single -->
							{% endif %}
							

						</div>
						<!-- /row -->
					</div>
					<!-- /STORE -->

					<!-- store bottom filter -->
					<div class="store-filter clearfix">
						<div class="pull-left">
							<div class="row-filter">
								<a href="#"><i class="fa fa-th-large"></i></a>
								<a href="#" class="active"><i class="fa fa-bars"></i></a>
							</div>
							<div class="sort-filter">
								<form method='GET'>								
								<span class="text-uppercase">Sort By:</span>
									<select name='ordering' class="input">
										<option value="" disabled selected hidden>Price</option>
										<option value='price'>Low To High</option>
										<option value='-price'>High To Low</option>
									</select>
									<button class="main-btn icon-btn" type='submit'> <i class="fa fa-arrow-down"></i></button>
								</form> 
								{% comment %} <a href="#" class="main-btn icon-btn"><i class="fa fa-arrow-down"></i></a> {% endcomment %}
							</div>
						</div>
						<div class="pull-right">
							<div class="page-filter">
								{% comment %} <span class="text-uppercase">Show:</span>
								<select class="input">
										<option value="0">10</option>
										<option value="1">20</option>
										<option value="2">30</option>
									</select> {% endcomment %}
							</div>
							<ul class="reviews-pages">
								{% if products.has_previous %}
									<li><a href="?/page={{ products.previous_page_number }}"><i class="fa fa-caret-left"></i></a></li>
								{% endif %}
								
								
								<span class="current">
									Page {{ products.number }} of {{ products.paginator.num_pages }}.
								</span>


								{% if products.has_next %}
									<li><a href="?page={{products.next_page_number}}"><i class="fa fa-caret-right"></i></a></li>
								{% endif %}
							
							</ul>
						</div>
					</div>
					<!-- /store bottom filter -->
				</div>
				<!-- /MAIN -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock 'content' %}
